{% extends 'base.html' %}
{% block content %}
<div class="row text-center" style="padding-top: 60px;">
  <div class="col md-4"></div><h2><center>Tickets Pending {{ ticket }}</center></h2></div>
  <div class="col md-4"></div><h2><center>Tasks Pending {{ ticket }}</center></h2></div>
  <div class="col md-4"></div><h2><center>All Contacts {{ ticket }}</center></h2></div>
  <div class="col md-4"></div><h2><center>Devices Pending {{ ticket }}</center></h2></div>
  <div class="col md-4"></div><h2><center>Maintainance Pending {{ ticket }}</center></h2></div>
</div>
{% endblock %}